/SimulationChoreography/bin/*
/SimulationChoreography/.metadata
/SimulationChoreography/.settings
/SimulationChoreography/.classpath
*.project
*.class
**/.classpath
**/*.jar
**/*.class
**/*.log
.DS_Store
.settings
# One should use properties template
*.properties
*.orig
*.log
*.war
/.metadata/
.metadata/
*CMakeFiles/
*Makefile
CMakeCache*.*
cmake_install.*

